<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Request processing...</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Your request is currently being processed!</h1>
      <p>Your URL: <strong>{{ url }}</strong></p>
      <p>Number of Segments: <strong>{{ segments }}</strong></p>
      <p><a href="{{ url_for('index') }}">Split another video</a></p>
    </div>
  </body>
</html>
